amqp==5.3.1
asgiref==3.12.1
bcrypt==5.0.0
billiard==4.2.4
celery==5.4.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.0
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cryptography==50.0.0
dateparser==1.2.0
Django==5.2.6
django-cors-headers==4.9.0
django-redis==7.0.0
django-rest-framework==0.1.0
djangorestframework==3.18.0
dotenv==0.9.9
geographiclib==2.1
geopy==2.5.0
idna==3.18
kombu==5.6.2
Levenshtein==0.27.4
mysql-connector==2.2.9
mysqlclient==2.2.8
numpy==2.3.3
opencv-python==4.11.0.86
packaging==26.3
pandas==2.3.2
paramiko==3.5.1
prompt_toolkit==3.0.53
psycopg==3.3.4
psycopg-binary==3.3.4
pycparser==3.0
PyNaCl==1.6.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.3.post1
RapidFuzz==3.14.5
redis==8.1.0
regex==2026.7.19
requests==2.32.3
schedule==1.2.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.3
tzlocal==5.4.4
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.2
xlsxwriter==3.2.9
